<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Source.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B3DA11F1C39831D0046D399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B3DA1381C39831E0046D399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B3DA1431C39831E0046D399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
